<p>
 <strong>Race:</strong>
 <%= @generator.race %>
</p>

<p>
 <strong>Order:</strong>
 <%= @generator.order %>
</p>

<p>
 <strong>Class:</strong>
 <%= @generator.class %>
</p>

<p>
 <strong>Discipline:</strong>
 <%= @generator.discipline %>
</p>