<p>
 <strong>Race:</strong>
 <%= RandRace.first(:id => "RANDOM()") %>
 <%= RandRace.order("RANDOM()").first %>
</p>

<!--<p>-->
<!-- <strong>Order:</strong>-->

<!--</p>-->

<!--<p>-->
<!-- <strong>Class:</strong>-->
<!-- -->
<!--</p>-->

<!--<p>-->
<!-- <strong>Discipline:</strong>-->
<!-- -->
<!--</p>-->