h1 {
    color: brown;
    font-size: 32px;
    font-family: Elephant;
    text-shadow: #ffffff 0px 0px 1px,   #ffffff 0px 0px 1px,   #ffffff 0px 0px 1px,
             #ffffff 0px 0px 1px,   #ffffff 0px 0px 1px,   #ffffff 0px 0px 1px;
}

body {
    background-color: rgb(242,210,156);
    background-image: url("https://vignette.wikia.nocookie.net/gw2/images/d/df/GW2Logo_new.png/revision/latest?cb=20170802061850&path-prefix=ja");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
}

a {
    color: brown;
    text-decoration: none;
    font-family: Elephant;
}

ul {
    color: brown;
    font-size: 32px;
    font-family: Elephant;
}

p {
    color: brown;
    font-size: 32px;
    font-family: Elephant;
}

.button {
    background-color: #d3b889;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}