h1 {
    color: brown;
    font-size: 32px;
    font-family: Elephant;
}

body {
    background-color: rgb(242,210,156);
}

a {
    color: brown;
}

ul {
    color: brown;
    font-size: 32px;
    font-family: Elephant;
}

p {
    color: brown;
    font-size: 32px;
    font-family: Elephant;
}